<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pokemons</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <%
        
        /*locations.forEach(location => {
            if(location.shortname == req.params.location){
                var mylocation = location;
            }
        });*/
    %> 
    <h1><%= req.params.location %></h1>
    

</body>
</html>